.basemap-container{
    width: 230px;
    height: 100vh;
    max-width: 100vh;
    top: 0;
    overflow: scroll;
    background-color: white;
    position: absolute;
    padding: 5px 2px;
    left: 0;
    z-index: 10000;
    transition: 500ms;
}

/* width */
.basemap-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .basemap-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .basemap-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
  }
  
  /* Handle on hover */
  .basemap-container::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 20, 20, 0.8);
}

.item-basemap{
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.item-basemap img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.item-basemap .judul p{
    padding: 0px;
    margin: 0px;
}

.item-basemap .judul{
    position: absolute;
    font-size: 14px;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 5px;
    background-color: white;
}

.item-basemap .judul .radio{
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 1px;
    border-color: #000000;
    background-color: white;

}