.layer{
    position: absolute;
    padding: 10px 15px;
    width: 280px;
    height: 100vh;
    background-color: white;
    z-index: 10000;
    transition: 500ms;
    top: 0;
    text-align: left;
}

.layer .judul{
    text-align: center;
}

.layer-item{
    display: flex;
    flex-direction: column;
}

.layer-item p{
    margin:10px 0px;
}

