.login-container{
    width: 300px;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    margin-left: 55px;
    z-index: 999;
    transition: 500ms;
    padding: 20px;
    text-align: left;
}

.input-admin{
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}

.input-admin:focus {
    border-color: rgb(0, 102, 255);
    outline-width: 0;
}
  

input:focus-visible{
    border-color: aqua;
    border-bottom: 1px solid red;
}


.login-container button{
    width: 100%;
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: rgb(180, 210, 248);
    border-radius: 8px;
    border-width: 0px;
    color: white;
}

.login-container button:hover{
    background-color: rgb(1, 105, 241);
}