.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container img{
    background-color: gray;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.profile-container p{
    margin: 5px 0px;
}

.profile-container button.sign-out{
    width: 90%;
    margin-bottom: 35px;
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(255, 0, 0);
}

.profile-container button.sign-out:hover{
    background-color: rgb(182, 0, 0);
}

.profile-container button.permohonan{
    color: black;
    margin-top: 3px;
    font-size: 15px;
    padding: 7px 20px;
    border: 1px solid rgb(184, 184, 184);
    background-color: rgb(247, 247, 247);
}

.profile-container button:hover{
    background-color: rgb(218, 218, 218);
}