select.status{
    width: 100%;
    padding: 10px; 
    cursor: pointer;
    border-radius: 5px;
}

.kembali{
    margin-bottom: 75px;
    background-color: rgb(216, 199, 199);
    position: absolute;
    bottom: 0;
    width: 80%;
}