.permohonan-container{
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
}

.permohonan-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.permohonan-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.permohonan-container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.permohonan-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#list-permohonan {
    width: 100%;
    font-size: 13px;
}

#list-permohonan td,#list-permohonan th{
    border: 1px solid #dddddd;
    
    padding: 8px;
}

#list-permohonan tr:hover {background-color: #ddd;}

#list-permohonan th{
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0,117,255);
    color: white ;
}

#list-permohonan .geometry{
    cursor: pointer;
    text-align: center;
}

#list-permohonan .geometry:hover{
    color: rgb(0,117,255);
}

.header-peta-permohonan p{
    margin: 0px 10px;
}

.header-peta-permohonan{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 
}

button.decline{
    border-radius: 5px 0px 0px 5px;
 
    background-color: rgb(224, 0, 0);
}

button.decline:hover{
    background-color: rgb(161, 0, 0);
}

button.accept{
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(0, 108, 231);
}

button.accept:hover{
    background-color: rgb(3, 83, 175);
}